<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../views/elements/head %>
  </head>

  <body id="page-top">
    <% include ../views/elements/header.html %>
    <div id="wrapper">
      <!-- Sidebar -->
    <% include ../views/elements/left-panel.html %>
      <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/changePassword" style="font-weight:bold;">Change Admin Password</a>
            </li>
          </ol>
          <% let messages = getMessages()%>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"  >
              <form method="post" action="/request-password-reset" id="changePassword">
                <div class="col-md-8 col-xs-12 col-sm-12" style="float:none;margin:100px auto;">
                  <div class="col-md-12 col-xs-12 col-sm-12 form-group" style="text-align:center">
                    <label class="control-label col-md-6 col-sm-3 col-xs-12" for="first-name" style="color:green">
                        <%= messages.warning %>
                        <%= messages.success %>
                    </label>
                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12 form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">New Password<span class="required"> *</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" class="form-control col-md-7 col-xs-12" placeholder="New Password" name="newPassword" required id="newPassword"/>
                    </div>
                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12 form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Confirm Password<span class="required"> *</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" class="form-control col-md-7 col-xs-12" placeholder="Confirm Password" required id="confirmPassword" name="confirmPassword"/>
                    </div>
                  </div>
                  <div class="col-md-12 col-xs-12 col-sm-12 form-group" style="text-align:center">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                      <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <% include ../views/elements/footer %>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <% include ../views/elements/bootom %>
  </body>
</html>
